<h1>Make a feed</h1>
<form>
  <label for="feed-title">Title</label>
  <input type="text" id="feed-title" name="feed[title]"></input>

  <label for="feed-url">URL</label>
  <input type="text" id="feed-url" name="feed[url]"></input>

  <button class="create">Create Feed</button>

</form>
