<h1>Feeds</h1>
<ul>
  <% feeds.forEach(function(feed){ %>
    <li>


      <a href="#/feeds/<%= feed.id %>">
        <%= feed.escape('title') %>
      </a>
      <button
        class="delete"
        data-feed-id="<%= feed.id %>">
        Delete
      </button>
    </li>
  <% }) %>


</ul>
