<h1>Log In!</h1>
<form>
<label for="user-name">User Name</label>
<input id="user-name" name="user[username]" type="text"></input>

<label for="user-password">Password</label>
<input id="user-password" name="user[password]" type="password"></input>

<button class="log-in">Log In!</button>

</form>
